version: "3.4"

services:

  db:
    image: mysql:5.7
    restart: always
    volumes:
      - "mysql-data:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: db
    ports:
    - "3306:3306"

volumes:
  mysql-data: ~
