.accept-absence {
    background-color: #47e01a !important;
    border-color: #47e01a !important;
    color: #fff !important;
}

.refuse-absence {
    color: #fff !important;
    background-color: #ff4736 !important;
    border-color: #ff4736 !important;
}

.absences {
    margin-top: 30px;
}
