body {
    background-color: rgba(240, 246, 231, 0.58);
}

.container-fluid {
    width: 90%;
}

.title {
    color: red;
}

.calendar {
    margin-top: 30px;
}

.calendar h1 {
    color: #2f339d;
}

.days-row {
    background-color: #2f339d;
    height: 40px;
    font-weight: bold;
}

.day-name {
    margin: auto;
    color: white;
    font-size: 15px;
}

.day-block {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
    font-weight: bold;
    font-size: 20px;
    width: calc(100% / 7);
    word-wrap:break-word;
}

.date-number {
    margin-left: 5px;
}

.other-month {
    background-color: rgba(234, 241, 224, 0.58);
    color: rgba(148, 153, 142, 0.58);
}

.current-month {
    background-color: white;
}

.day-block-left {
    border-left: 1px solid rgba(78,82,75,0.58);
    border-right: 1px solid rgba(78,82,75,0.58);
    border-bottom: 1px solid rgba(78,82,75,0.58);
}

.day-block-center {
    border-right: 1px solid rgba(78,82,75,0.58);
    border-bottom: 1px solid rgba(78,82,75,0.58);
}

.day-block-right {
    border-right: 1px solid rgba(78,82,75,0.58);
    border-bottom: 1px solid rgba(78,82,75,0.58);
}

.absence {
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}

.absence-none {
    background-color: #dde8e6;
}

.absence-accepted {
    background-color: #76ff3b;
}

.absence-refused {
    background-color: #ff4736;
}

.absence-confirmed {
    background-color: #7db4ff;
    margin: auto;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.infos {
    /*border: #0a0a0a;*/
    margin-top: 30px;
    height: 100%;
    margin-left: 40px;
    border: 1px solid rgba(78,82,75,0.58);
}

.infos-name {
    text-align: center;
    width: 100%;
}

.infos-absence-historical {
    font-size: 13px;
}
