{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/users.css') }}">
{% endblock %}
{% block body %}
    <div class="container absences">
    <h1 class="user_edit">Modifier l'utilisateur</h1>
    {{ form(userForm) }}
    </div>
{% endblock %}